.card{
    padding: 15px 10px;
    text-align: center;
    text-transform: uppercase;

    margin: 10px;
    width: 350px;
    height: 350px;
    background-color:#e4fbfb;
    border-radius: 20px;
    position: relative;
    border: 4px solid #aedddd;
    opacity: 0.8;
}


.imgstyle{
    width: 150px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px;
    
}

.h3style{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight:normal;
}

.buttondetail{
    border: 4px solid #aedddd;
    background-color: white;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}