.card{
    padding: 15px 10px;
    text-align: center;
    text-transform: uppercase;

    margin: 60px;
    width: 350px;
    height: 350px;
    background-color:#F4F4F4;
    border-radius: 0px;
    position: relative;
    
    opacity: 0.9;
    
}




.imgstyle{
    width: 150px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px;
    
}

.h3style{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight:normal;
    color: black;
    
}

.buttondetail{
    border: 4px solid rgba(128, 128, 128, 0.986);
    background-color: white;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}