.detailbackground{
    background-image: url("https://i.pinimg.com/originals/79/e6/3f/79e63f4372b085bce16c7121210d39f9.jpg");
      
    
    
    background-attachment: fixed;
    
        background-position-y: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 150%;
        opacity: 1;
        position: absolute;
        top: 0px;
        transition: opacity 0.3s linear 0s;
        width: 100%;
    }

.card-detail{
    padding: 15px 10px;
    text-align: center;
    text-transform: uppercase;

    margin: 10px;
    width: 600px;
    height: 900px;
    background-color:#e4fbfb;
    border-radius: 20px;
    position: relative;
    border: 4px solid #aedddd;
    opacity: 0.9;
}



.imgdetailstyle{
    width: 250px;
    height: 210px;
    padding-left: 50px;
    padding-right: 50px;
}

.carddetail2{
    flex-direction: row;
    display: inline-block;
    
}

