.detailbackground{
    background-image: url("https://wallpaperaccess.com/full/766612.jpg");
      
    
    
    background-attachment: fixed;
    
        background-position-y: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 150%;
        opacity: 1;
        position: absolute;
        top: 0px;
        transition: opacity 0.3s linear 0s;
        width: 100%;
    }

.card-detail{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
    display: block;
    background-color: azure;
    opacity: 0.9;
    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    

    padding: 100px;
    text-align: center;
    text-transform: uppercase;


}

.imgdetailstyle{
    width: 250px;
    height: 210px;
    padding-left: 50px;
    padding-right: 50px;
}