.fondoform{
    background-image: url("http://s3.amazonaws.com/storage.wobiz.com/54/54733/images/Large/1624898101_0ab9c463cf6e95d173e3f96808e10719.54733.jpeg");

    background-attachment: fixed;

    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0px;
    transition: opacity 0.3s linear 0s;
    width: 100%;
}

.divform{
    
    
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
    display: block;
    background-color: white;
    opacity: 0.9;
    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:lighter;
    

    padding: 100px;
    text-align: center;
    text-transform: uppercase;


    /* background-color: whitesmoke;
    

    padding: 15px 10px;

    margin: 10px;
    
    
    height: 350px;
    

    align-content: center;

    transition: opacity 1 linear 0s; */

    
}

.h1{
    padding: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: lighter;
}

.div{
    padding: 15px;
}

.buttonaddact{
    border: 4px solid rgba(128, 128, 128, 0.986);
    background-color: white;
    border-radius: 5px;
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;

}

.buttonvolver{
    border: 4px solid rgba(128, 128, 128, 0.986);
    background-color: white;
    border-radius: 5px;
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}
