.landing-page{
background-image: url("http://s3.amazonaws.com/storage.wobiz.com/54/54733/images/Large/1624898101_0ab9c463cf6e95d173e3f96808e10719.54733.jpeg");
  


background-attachment:initial;

    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
    opacity: 1;
    position:absolute;
    top: 0px;
    transition: opacity 0.3s linear 0s;
    width: 100%;
}
.titlelanding{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
    font-size: 100px;
    font-style:initial;
    line-height: 120%;
    display: block;
    background-color: #f4f4f4;;
    opacity: 0.8;
    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    

    padding: 150px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.buttonlanding{
    /* background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    background-color: lightslategrey;
    /* width: 25px; */
    /* border-radius: 10px;
    margin: 5px;
    align-self: flex-end;
    color: black; */ 

    margin: 2em auto;
  display: block;
  -webkit-appearance: none;
  border: 6px solid rgba(128, 128, 128, 0.986);
  border-radius: 15px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color:black;
  
  font-size: 25px;

  
    background-color: white;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: lighter;

  
  

  



}