.buttonpage{
    margin: 5px;
    display: inline-block;
  -webkit-appearance: none;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: black;
  
}

.divpaginado{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
    display: block;
    background-color:white;
    opacity: 0.9;
    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    

    padding: 5px;
    text-align: center;
    text-transform: uppercase;
  
}